* {
  background-color: black;
  color: white;
}

.main-container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 25px;
  border-color: 2px solid azure;
}

.p1 {
  display: grid;
  grid-template-columns: 20% 60% 20%;  
}

.p2 {
  display: grid;
  grid-template-columns: 50vh 50vh;
  margin-top: 30vh;
  gap: 40vh;
}

.p3 {
  margin-left: 40%;
  margin-top: 10vh;
  display: grid;
}

.grid1 {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 70px;
}

.info-right {
  margin-top: 10px;
}
.info-right2 {
  width: 50%;
}
.info-right3 {
  width: 45vh;
}

.nav {
  text-align: center;
}

.last {
  text-align: right;
  margin-right: 5%;
}

.call {
  margin-left: 5%;
}

.block1 {
  width: 70%;
  height: 10%;
}

.block2 {
  width: 70%;
}

.block3 {
  width: 70%;
  margin-top: 20px;
}

.block4 {
  width: 70%;
  margin-top: 20px;
}

.block5 {
  width: 70%;
  margin-top: 20px;
}

.block6 {
  width: 70%;
  margin-top: 20px;
}

.material-symbols-outlined {
  align-items: center;
}



