body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1%;
  height: 100vh;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  width: 72%;
  gap: 1%;
  height: 100%;
  
}

.cont1 {
  width: 28%;
  height: 100%;
  text-align: center;
  border: 3px solid rgb(209, 209, 209);
  border-radius: 10px;
}

.cont2 {
  width: 32%;
  height: 50%;
  text-align: center;
  border: 3px solid rgb(209, 209, 209);
  border-radius: 10px;
}

.cont3 {
  width: 32%;
  height: 50%;
  text-align: center;
  border: 3px solid rgb(209, 209, 209);
  border-radius: 10px;

}

.cont4 {
  width: 32%;
  height: 50%;
  text-align: center;
  border: 3px solid rgb(209, 209, 209);
  border-radius: 10px;
}

.cont5 {
  border: 3px solid rgb(209, 209, 209);
  border-radius: 10px;
  width: 99%;
  height: 48%;
  justify-content: center;
}

.info1 {
  margin: 15px;
}

.par {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  
}

.info {
  font-size: 24px;
  color: gray;
}

.portrait {
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
  margin-top: 40%;
}

button {
  border-radius: 3px;
  background-color: green;
  color: white;
  width: 45%;
  height: 50px;
  border-style: none;
  font-size: 24px;
  margin-top: 5%;
}

.discription {
  font-size: 18px;
  font-weight: 500;
}

.kol1 {
  font-size: 36px;
  font-weight: 700;
  color:green;
  margin-top: 40%;
}

.word1 {
  font-size: 30px;
  font-weight: 700;
  color:rgb(209, 209, 209);
}

.kol2 {
  font-size: 36px;
  font-weight: 700;
  color:green;
  margin-top: 40%;
}

.word2 {
  font-size: 30px;
  font-weight: 700;
  color:rgb(209, 209, 209);
}

.kol3 {
  font-size: 36px;
  font-weight: 700;
  color:green;
  margin-top: 40%;
}

.word3 {
  font-size: 30px;
  font-weight: 700;
  color:rgb(209, 209, 209);
}