* {
    box-sizing: border-box;
}

main {
    display: flexbox;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

body {
    width: 70vw;
    margin: auto;
    min-width: 576px;
    max-height: 992px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Roboto Slab', serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

img {
    border-radius: 15px;
    display: flex;
    box-shadow: 0px 0px 15px black;
    border: 5px solid white;
    width: calc((100% - 3 * 10px) / 4);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 15px;
    font-weight: 700;
    margin: 20px;
}

a:hover {
    color: gray;
}

a:active {
    color: rgb(255, 255, 255);
}

footer {
    text-align: center;
}

p {
    margin-bottom: 25px;
}

