body {
  background-color: black;
  font-family: 'ibm-plex-sans', sans-serif;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  padding-left: 7%;
  padding-right: 7%;
}

@media (max-width: 720px) {
  body { 
    margin: auto;
  }
  .grid1 {
    gap: auto;
  }
}

.p1 {
  display: grid;
  grid-template-columns: 35% 10% 10% 10% 35%;
  margin-top: 25px;
  margin-bottom: 20%;
  text-align: center;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
}

.photo {
  position: absolute;
  text-align: left;
  left: 8vh;
  top: 150%;
  z-index: 0;
}

.headerfont {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.p2 {
  display: grid;
  grid-template-columns: 50% 20% 30%;
}

a {
  text-decoration: none;
  padding: 40px auto;
}

.grey {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.white {
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 56px;
}

.swhite {
  font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
color: #FFFFFF;
margin-top: -35px;
}

.learn {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #434343;
  width: 180px;
  height: 55px;
  background: #FFFFFF;
  border-radius: 8px;
  transition: 0.7s;
}

.learn:hover {
  background: #858585;
}

.p3 {
  margin-left: 35%;
}

.grid1 {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 3%;
}
.block1 {
  background: #262524;
  border-radius: 28px;
  width: 107px;
  height: 107px;
}

.block2 {
  background: #262524;
  border-radius: 28px;
  width: 107px;
  height: 107px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  color: #FFFFFF;
}

.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
}

.p3-1 {
  margin-top: 26%;
  z-index:1 ;
}

.grid2 {
  display: grid;
  grid-template-columns: 47% 53%;
  gap: 5%;
}

.block3 {
  background: #262524;
  border-radius: 28px;
  height: 40vh;
  padding: 11vh;
}

.block4 {
  background: #262524;
  border-radius: 28px;
  height: 40vh;
  padding: 11vh;

}

.rotate {
  transform: rotate(-90deg);
}

.swhite2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.block6 {
  background: #262524;
  border-radius: 28px;
}

.grid4 {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.link1 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
  transition: 0.5s;
}

.link1:hover {
  color:#262524;
  transition: 0.7s;
}

.email {
  width: 386px; 
  height: 72px; 
  background: #262524; 
  border-radius: 12px; 
  font-style: normal; 
  font-weight: 400;
  font-size: 28px; 
  line-height: 36px; 
  color: #9D9D9D; 
  padding-left: 10px; 

  margin-left:auto; 
  margin-right: 0px;
}

.links {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 55%;
  text-decoration: none;
  margin: 15px 10px 35px 10px;

}

.end {
  margin-left: 10px;
  margin-right: 10px;
}
