@font-face {
  src: url(font/IBMPlexSans-Regular.ttf);
  font-family: 'IBM Plex Sans';
 }


body {
  position: relative;
  width: 1200px;
  height: 5300px;
  background: #080808;
  color: white;
  margin: 0 auto;
}

.call {
  position: absolute;
  width: 184px;
  height: 25px;
  left: 129px;
  top: 45px;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
  color: #FFFFFF;
}

.learn {
  position: absolute;
  width: 52px;
  height: 25px;
  left: 492px;
  top: 29px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.build {
  position: absolute;
  width: 46px;
  height: 22px;
  left: 581px;
  top: 29px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.explore {
  position: absolute;
  width: 65px;
  height: 25px;
  left: 664px;
  top: 29px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.last {
  position: absolute;
  width: 70px;
  height: 25px;
  left: 991px;
  top: 40px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
  color: #FFFFFF;
}

.ex-info {
  position: absolute;
  width: 442px;
  height: 35px;
  left: 129px;
  top: 392px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.m-info {
  position: absolute;
  width: 459px;
  height: 152px;
  left: 129px;
  top: 420px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 56px;
  color: #FFFFFF;
}

.bmore-info {
  position: absolute;
  width: 180px;
  height: 55px;
  left: 129px;
  top: 647px;
  background: #FFFFFF;
  border-radius: 8px;
}

.par1 {
  position: absolute;
  width: 181px;
  height: 56px;
  left: 829px;
  top: 397px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 56px;
  color: #FFFFFF;
}

.par2 {
  position: absolute;
  width: 166px;
  height: 33px;
  left: 829px;
  top: 463px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
}

.par3 {
  position: absolute;
  width: 164px;
  height: 56px;
  left: 829px;
  top: 487px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 56px;
  color: #FFFFFF;
}

.par4 {
  position: absolute;
  width: 235px;
  height: 39px;
  left: 829px;
  top: 555px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
}

.p2-1 {
  position: absolute;
  width: 235px;
  height: 29px;
  left: 473px;
  top: 797px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.p2-2 {
  position: absolute;
  width: 323px;
  height: 112px;
  left: 473px;
  top: 829px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 56px;
  color: #FFFFFF;
}

.p3-1 {
  position: absolute;
  width: 294px;
  height: 39px;
  left: 473px;
  top: 1128px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  color: #FFFFFF;
}

.p3-2 {
  position: absolute;
  width: 238px;
  height: 155px;
  left: 473px;
  top: 1170px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
}

.p3-3 {
  position: absolute;
  width: 294px;
  height: 39px;
  left: 829px;
  top: 1128px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  color: #FFFFFF;
}

.p3-4 {
  position: absolute;
  width: 216px;
  height: 96px;
  left: 829px;
  top: 1167px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
}

.p3-5 {
  position: absolute;
  width: 294px;
  height: 39px;
  left: 473px;
  top: 1514px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  color: #FFFFFF;
}

.p3-6 {
  position: absolute;
  width: 238px;
  height: 96px;
  left: 473px;
  top: 1562px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
}

.p3-7 {
  position: absolute;
  width: 294px;
  height: 39px;
  left: 829px;
  top: 1514px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  color: #FFFFFF;
}

.p3-8 {
  position: absolute;
  width: 216px;
  height: 96px;
  left: 829px;
  top: 1559px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
}

.p3-9 {
  position: absolute;
  width: 294px;
  height: 39px;
  left: 473px;
  top: 1860px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  color: #FFFFFF;
}

.p3-10 {
  position: absolute;
  width: 238px;
  height: 96px;
  left: 473px;
  top: 1905px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
}

.p3-11 {
  position: absolute;
  width: 294px;
  height: 39px;
  left: 829px;
  top: 1860px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  color: #FFFFFF;
}

.p3-12 {
  position: absolute;
  width: 216px;
  height: 96px;
  left: 829px;
  top: 1902px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
}

.sp3-1 {
  position: absolute;
  width: 107px;
  height: 107px;
  left: 473px;
  top: 997px;
  background: #262524;
  border-radius: 28px;
}

.sp3-2 {
  position: absolute;
  width: 107px;
  height: 107px;
  left: 829px;
  top: 997px;
  background: #262524;
  border-radius: 28px;
}

.sp3-3 {
  position: absolute;
  width: 107px;
  height: 107px;
  left: 473px;
  top: 1382px;
  background: #262524;
  border-radius: 28px;
}

.sp3-4 {
  position: absolute;
  width: 107px;
  height: 107px;
  left: 829px;
  top: 1382px;
  background: #262524;
  border-radius: 28px;
}

.sp3-5 {
  position: absolute;
  width: 107px;
  height: 107px;
  left: 473px;
  top: 1736px;
  background: linear-gradient(0deg, rgba(19, 19, 19, 0.2), rgba(19, 19, 19, 0.2)), rgba(89, 85, 79, 0.3);
  border-radius: 28px;
}

.sp3-6 {
  position: absolute;
  width: 107px;
  height: 107px;
  left: 829px;
  top: 1736px;
  background: #262524;
  border-radius: 28px;
}

.bmore-info1 {
  position: absolute;
  width: 180px;
  height: 55px;
  left: 473px;
  top: 2064px;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  border: 2px solid #434343;
}

.p4-1 {
  position: absolute;
  width: 313px;
  height: 29px;
  left: 473px;
  top: 2234px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.p4-2 {
  position: absolute;
  width: 441px;
  height: 112px;
  left: 473px;
  top: 2275px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 56px;
  color: #FFFFFF;
}

.p4-3 {
  position: absolute;
  width: 296px;
  height: 31px;
  left: 473px;
  top: 2420px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
}

.p4-4 {
  position: absolute;
  width: 480px;
  height: 112px;
  left: 473px;
  top: 2490px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 56px;
  color: #FFFFFF;
}

.p4-5 {
  position: absolute;
  width: 391px;
  height: 153px;
  left: 473px;
  top: 2635px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
}

.p4-6 {
  position: absolute;
  width: 153px;
  height: 25px;
  left: 473px;
  top: 2779px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 25px;
  color: #FFFFFF;
}

.card1 {
  position: absolute;
  width: 422px;
  height: 486px;
  left: 144px;
  top: 2855px;
  background: #262524;
  border-radius: 28px;
}

.c1-1 {

  width: 100px;
  height: 31px;
  left: 212px;
  top: 2908px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
}

.c1-2 {

  width: 100px;
  height: 31px;
  left: 212px;
  top: 3165px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
}

.c1-3 {

  width: 147px;
  height: 31px;
  left: 473px;
  top: 3196px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
  transform: rotate(-90deg);
}

.card2 {
  position: absolute;
  width: 448px;
  height: 486px;
  left: 600px;
  top: 2855px;
  background: #262524;
  border-radius: 28px;
}

.c2-1 {

  width: 100px;
  height: 31px;
  left: 639px;
  top: 2908px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
}

.c2-2 {

  width: 107px;
  height: 31px;
  left: 639px;
  top: 3312px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
  transform: rotate(-90deg);
}
.l1 {

  width: 95.5px;
  height: 0px;
  left: 665px;
  top: 3215px;
  border: 1px solid #D3D3D3;
  transform: rotate(90deg);
}

.c2-3 {

  width: 147px;
  height: 31px;
  left: 858px;
  top: 3071px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
  transform: rotate(-90deg);
}

.l2 {

  width: 102px;
  height: 0px;
  left: 858px;
  top: 3032px;
  border: 1px solid #D3D3D3;
  transform: rotate(90deg);
}

.c2-4 {

  width: 147px;
  height: 31px;
  left: 858px;
  top: 3312px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
  transform: rotate(-90deg);
}

.l3 {

  width: 127.5px;
  height: 0px;
  left: 858.5px;
  top: 3183px;
  border: 1px solid #D3D3D3;
  transform: rotate(90deg);
}

.card3 {
  position: absolute;
  width: 904px;
  height: 438px;
  left: 144px;
  top: 3379px;
  background: #262524;
  border-radius: 28px;
}

.c3-1 {

  width: 422px;
  height: 144px;
  left: 192px;
  top: 3423px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  color: #FFFFFF;
}

.c3-2 {

  width: 391px;
  height: 86px;
  left: 192px;
  top: 3581px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #D3D3D3;
}

.bc3-1 {

  width: 220px;
  height: 55px;
  left: 192px;
  top: 3705px;
  background: #FFFFFF;
  border-radius: 8px;
  position: absolute;
  width: 160px;
  height: 25px;
  left: 222px;
  top: 3720px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  color: #434343;
}

.card4 {
  position: absolute;
  width: 311px;
  height: 630px;
  left: 144px;
  top: 3842px;
  background: #262524;
  border-radius: 28px;
}

.c4-1 {

  width: 185px;
  height: 29px;
  left: 185px;
  top: 3868px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.c4-2 {

  width: 199px;
  height: 126px;
  left: 189px;
  top: 4239px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.card5 {
  position: absolute;
  width: 573px;
  height: 328px;
  left: 473px;
  top: 3842px;
  background: #262524;
  border-radius: 28px;
}

.c5-1 {

  width: 313px;
  height: 29px;
  left: 508px;
  top: 3872px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.c5-2 {

  width: 365px;
  height: 42px;
  left: 508px;
  top: 3913px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.c5-3 {

  width: 232px;
  height: 142px;
  left: 508px;
  top: 3971px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #9D9D9D;
}

.card6 {
  position: absolute;
  width: 280px;
  height: 284px;
  left: 468px;
  top: 4188px;
  background: #262524;
  border-radius: 28px;
}

.c6-1 {

  width: 199px;
  height: 29px;
  left: 503px;
  top: 4211px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.c6-2 {

  width: 199px;
  height: 168px;
  left: 503px;
  top: 4239px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.c6-3 {

  width: 199px;
  height: 29px;
  left: 503px;
  top: 4426px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #9D9D9D;
}

.card7 {
  position: absolute;
  width: 280px;
  height: 284px;
  left: 766px;
  top: 4188px;
  background: #262524;
  border-radius: 28px;
}

.c7-1 {

  width: 199px;
  height: 29px;
  left: 794px;
  top: 4210px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.c7-2 {

  width: 259px;
  height: 84px;
  left: 796px;
  top: 4239px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.c7-3 {

  width: 199px;
  height: 29px;
  left: 794px;
  top: 4426px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  color: #9D9D9D;
}

.p5-1 {
  position: absolute;
  width: 347px;
  height: 42px;
  left: 178px;
  top: 4546px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.p5-2 {
  position: absolute;
  width: 421px;
  height: 40px;
  left: 178px;
  top: 4588px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.link1 {
  color: white;
  text-decoration: none;
}

.link1:hover {
  color: #262524;
}

.p5-3 {

  width: 386px;
  height: 82px;
  left: 636px;
  top: 4546px;
  background: #262524;
  border-radius: 12px;
}

.p5-4 {
  position: absolute;
  width: 142px;
  height: 40px;
  left: 659px;
  top: 4570px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #9D9D9D;
}

.p5-5 {
  position: absolute;
  width: 386px;
  height: 82px;
  left: 636px;
  top: 4546px;
  background: #262524;
  border-radius: 12px;
  color: #9D9D9D;
}

.line61 {
  position: absolute;
  width: 938px;
  height: 0px;
  left: 131px;
  top: 4706px;
  border: 1px solid #9D9D9D;
}

.p6-1 {
  position: absolute;
  width: 102px;
  height: 40px;
  left: 144px;
  top: 4727px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
}

.p6-2 {
  position: absolute;
  width: 102px;
  height: 40px;
  left: 331px;
  top: 4727px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
}

.p6-3 {
  position: absolute;
  width: 114px;
  height: 40px;
  left: 503px;
  top: 4727px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
}

.l6-1 {
  position: absolute;
  width: 102px;
  height: 40px;
  left: 144px;
  top: 4802px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.l6-1:hover {
  color: #262524;
}

.l6-2 {
  position: absolute;
  width: 102px;
  height: 40px;
  left: 331px;
  top: 4802px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.l6-2:hover {
  color: #262524;
}

.l6-3 {
  position: absolute;
  width: 114px;
  height: 40px;
  left: 503px;
  top: 4802px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.l6-3:hover {
  color: #262524;
}

.l6-4 {
  position: absolute;
  width: 156px;
  height: 40px;
  left: 144px;
  top: 4842px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.l6-4:hover {
  color: #262524;
}

.l6-5 {
  position: absolute;
  width: 114px;
  height: 40px;
  left: 331px;
  top: 4842px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.l6-5:hover {
  color: #262524;
}

.l6-6 {
  position: absolute;
  width: 137px;
  height: 40px;
  left: 503px;
  top: 4842px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.l6-6:hover {
  color: #262524;
}

.l6-7 {
  position: absolute;
  width: 114px;
  height: 40px;
  left: 144px;
  top: 4882px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.l6-7:hover {
  color: #262524;
}

.p6-4 {
  position: absolute;
  width: 114px;
  height: 40px;
  left: 331px;
  top: 4862px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #9D9D9D;
}

.line62 {
  position: absolute;
  width: 938px;
  height: 0px;
  left: 131px;
  top: 4963px;
  border: 1px solid #9D9D9D;
}

.p7-1 {
  position: absolute;
  width: 84px;
  height: 25px;
  left: 144px;
  top: 5000px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
  color: #FFFFFF;
}

.p7-2 {
  position: absolute;
  width: 911px;
  height: 97px;
  left: 144px;
  top: 5062px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #9D9D9D;
}

.l7-1 {
  position: absolute;
  left: 6.66%;
  right: 6.67%;
  top: 14.79%;
  bottom: 14.78%;
  background: #9D9D9D;
}

.l7-2 {
  position: absolute;
  left: 73.92%;
  right: 23.58%;
  top: 94.11%;
  bottom: 5.42%;
  background: #9D9D9D;
}

.l7-3 {
  position: absolute;
  left: 77.67%;
  right: 20%;
  top: 94.09%;
  bottom: 5.42%;
  background: #9D9D9D;
}

.l7-4 {
  position: absolute;
  left: 81.58%;
  right: 16.96%;
  top: 94.23%;
  bottom: 5.53%;
  background: #171717;
}

.l7-5 {
position: absolute;
left: 6%;
right: 7.8%;
top: 18%;
bottom: 18%;
background: #9D9D9D;
}