* {
  margin: 0px;
  padding: 0px;
}

body {
    font-family: 'Lexend', sans-serif;
  }

  button {
    cursor: pointer;
  }
  
  .container {
    width: 600px;
    background-color: white;
    margin: auto;
    height: 100%;
  }
  
  .bluebar {
    background-color: #0D168E;
    color: white;
    padding: 1rem 3rem;
  }
  
  .back {
    background-image: url(https://cdn.discordapp.com/attachments/300176676644716544/1035409601396486175/bg.png);
    background-size: contain;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
  }

  .dropdown {
    position: absolute;
    left: 70%;
  }
  
  .dropdown-content {
    display: none;
    min-width: 130px;
    font-size: 20px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 6px 13px;
    text-decoration: none;
    display: block;
    background-color: #0D168E
  }
  
  .dropdown-content a:hover {background-color: #00b5cc;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  .white {
    font-weight: 500;
    font-size: 51px;
    line-height: 64px;
    margin: 0px auto;
  }
  
  .white1 {
    font-size: 22px;
    font-weight: 700;
    margin: 10px auto;
  }
  
  .head {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2rem;
  }
  
  .right {
    margin-left: 5rem;
    width: 60%;
  }
  
  .left {
    width: 100%;
  }
  
  .start {
    background-color: white;
    color: #0D168E;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    width: 180px;
    height: 55px;
    border-radius: 27.5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  .whitebar {
    background-color: white;
    color: #0D168E;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 30px 20px;
  }
  
.flex1 {
  display: flex;
  justify-content: space-between;
}

  .whitebar1 {
    background-color: white;
    color: #0D168E;
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }

  .whitebar2 {
    background-color: white;
    color: #0D168E;

    height: auto;
    margin: 2rem;
  }
  
  .energ {
    height: auto;
  
  }

  .wconnect {
    width: 50%;
    margin-top: 20px;
    text-align: left;
  }
  
  .tab {
    color: #0D168E;
    width: 261px;
    height: 182px;
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
    border: 2px solid #D9D9D9;
    border-radius: 42px;
    text-align: justify;
    margin: auto 1rem;
    padding: 0.5rem;
  }
  
  .connect {
    background-color: #0D168E;
    color: white;
    font-weight: 700;
    width: 154px;
    height: 47px;
    border-radius: 27.5px;
    border: none;
    margin: 10px 0px;
  }
  
  .par {
    display: grid;
    grid-template-columns: 40% 55%;
    text-align: justify;
    gap: 2rem;
    margin: 3rem auto;
  }
  
  .swap {
    width: 11rem;
    height: 13rem;
  }

  .swap1 {
    text-align: center;
    width: 9.5rem;
    margin: auto 0px;
  }

  .swap2 {
    width: 10rem;
    height: 10rem;
    margin: auto;
  }
  
  .step1 {
    display: flex;
  }
  
  .step2 {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .step3 {
    display: flex;
  }
  
  .arrows { 
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    transform: rotate(90deg);
    width: 4rem; margin: 0px auto;
  }
  
  .blue {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    width: 45%;
  }

  .flex3 {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-top:3rem;
  }

  .text2 {
    text-align: center;
  }
  
  .icons {
    display: flex;
    justify-content: center;
  }
  
  .icon {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin: 1rem;
  }

  .icon1 {
    background-image: url(https://media.discordapp.net/attachments/300176676644716544/1036982730010939442/beta_1.png);
    background-position: center;
  }

  .icon2 {
    background-image: url(https://media.discordapp.net/attachments/300176676644716544/1036982729520185426/gf_1.png);
    background-position: center;
    background-size: cover;
  }

  .icon3 {
    background-image: url(https://media.discordapp.net/attachments/300176676644716544/1036982729151103016/pstake_1.png);
    background-position: center;
  }
  
  .icon5 {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    margin-top: 0.5rem;
  }
  
  .windowstake {
    background: #0D168E;
    border-radius: 76px;
    height: 346px;
    width: 90%;
    max-width: 100%;
    margin: 2rem auto;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 50% 50%;
    padding: 4rem 4rem;
    box-sizing: border-box;
  }
  
  .stake {
    border-radius: 27.5px;
    width: 180px;
    height: 55px;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    color: #0D168E;
    margin-left: 2rem;
    margin-top: 3rem;
  }
  
  .link1 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #9D9D9D;
    transition: 0.5s;
    margin: 1%;
    text-align: left;
    text-decoration: none;
  }
  
  .link1:hover {
    color: white;
    transition: 0.7s;
  }
  
  .links {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    text-decoration: none;
    gap: 3%;
  }
  
  .service {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .email {
    border: none;
    width: 70%; 
    height: 2.5rem; 
    margin-top: 1rem;
    background: #FFFFFF; 
    border-radius: 12px; 
    font-weight: 300; 
    font-size: 20px; 
    line-height: 25px;
    color: #0D168E;
  }
  
  .email:focus {
    outline: none;
  }
  
  .last {
    margin: 1rem;
  }
  
  .name {
    font-weight: 600; 
    font-size: 24px; 
    line-height: 30px;
  }

  .connectbutton {
    font-weight: 600; 
    font-size: 19px; 
    line-height: 24px; 
    text-decoration: none; 
    color: #FFFFFF;
  }

  .title {
    font-weight: 500; 
    font-size: 32px; 
    line-height: 40px;
  }

  .center {
    text-align: center;
  }

  .subtitle {
    font-weight: 300; 
    font-size: 18px; 
    line-height: 22px; 
    color: #9D9D9D;
  }
  
  .boldwhite {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
  }
  
  .mtop {
    margin-top: 1rem;
  }

  .thinwhite {
    font-weight: 400; 
    font-size: 25px; 
    line-height: 31px;
  }

  .whitew {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #9D9D9D;
  }

  .barm {
    margin: 2rem 0px;
  }

  .walletlogo {
    margin: auto 1rem; 
    width: 24px; 
    height: 24px;
  }

  .walletlogo1 {
    margin: auto; 
    margin-left: 0.7rem; 
    width: 34px; 
    height: 33px;
  }

  .walletname {
    font-weight: 300; 
    font-size: 12px; 
    line-height: 15px; 
    text-align: center; 
    margin: auto 0px;
  }

  .bluetitle {
    color: #0D168E;
    font-weight: 600; 
    font-size: 32px; 
    line-height: 40px;
  }

  .stitle {
    font-weight: 700;
    font-size: 22px; 
    line-height: 28px;
  }

  .disription {
    font-weight: 300; 
    font-size: 15px; 
    line-height: 19px;
  }

  .bigtitle {
    font-weight: 500;
    font-size: 32px; 
    line-height: 40px; 
    text-align: center;
  }

  .step {
    font-weight: 600; 
    font-size: 22px; 
    line-height: 28px;
  }

  .stepdiscription {
    font-weight: 300; 
    font-size: 22px; 
    line-height: 28px;
  }
  
  .bigbluetitle {
    font-weight: 500; 
    font-size: 32px; 
    line-height: 40px; 
    color: #0D168E; 
    width:55%; 
    text-align: center; 
    margin: 0px auto;
  }

  .smalldiscription {
    font-weight: 300; 
    font-size: 15px; 
    line-height: 19px; 
    text-align: center; 
    color: #0D168E; 
    margin: 0px auto;
  }

  .smalltitle {
    font-weight: 400; 
    font-size: 20px; 
    line-height: 25px;
  }

  .greydiscription {
    font-weight: 300; 
    font-size: 16px; 
    line-height: 20px; 
    color: #717171; 
    width: 60%; 
    margin: 0 auto;
  }

  .thinwindowstake {
    font-weight: 300; 
    font-size: 18px; 
    line-height: 22px;
  }

  .boldwindowstake {
    font-weight: 600;
    font-size: 18px; 
    line-height: 22px;
  }

  .mauto {
    margin: auto;
  }

  .etitle {
    font-weight: 600; 
    font-size: 32px; 
    line-height: 40px;
  }

  .greydiscription2 {
    font-weight: 500; 
    font-size: 16px; 
    line-height: 21px; 
    color: #9D9D9D;
  }

  .linkclass {
    font-weight: 500; 
    font-size: 18px; 
    line-height: 22px; 
    color: #FFFFFF;
  }